/**
 * *******************
 * SPACING CONTAINERS
 * *******************
 */
.container-header
{
    margin-top: 5em; 
    margin-bottom: 3em;
}

.container-header h1
{
    text-decoration: underline;
}

.container-content
{
    margin-bottom: 3em;
}

.container-content .title
{
    margin-bottom: 0.5em;
}

.container-filters
{
    margin-bottom: 1em;
}

.container-tools
{
    margin-bottom: 2em;
}

.container-controls
{
    margin-top: 2em;
}

/**
 * ***********************
 * FILTERS & TOOLS STYLES
 * ***********************
 */
.container-ichiejs .span12,
.container-ichiejs .span8
{
    margin-left: 0;
}

.ichiejs-main-stage canvas,
.ichiejs-preview-stage canvas
{
    border: 1px solid #ababab;
}

.filter-list,
.tool-list
{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.filter-list li,
.tool-list li
{
    padding: 0.5em 0.5em 0.5em 0;
    margin-right: 0.5em;
    float: left;
    cursor: pointer;
}

.btn.active
{
    cursor: default;
}


/**
 * ******************
 * INFO PANEL STYLES
 * ******************
 */
.ichiejs-info-panel h3
{
}

.ichiejs-info-panel label
{
    width: 3.5em;
}

.ichiejs-info-panel input
{
    width: 45px;
    border: none;
    margin-right: 1em;
}